<app-navbar></app-navbar>
<div class="user-profile-view">
  <!-- User Profile  -->
  <mat-card class="user-profile-card">
    <mat-card-header class="user-profile-card-header">
      <mat-card-title>Profile Information</mat-card-title>
    </mat-card-header>

    <!-- View Profile Information -->
    <mat-card-content class="user-profile-card-content">
      <p><b>Username:</b> {{ user.Username }}</p>
      <p><b>Email:</b> {{ user.Email }}</p>
      <p><b>Birthdate:</b> {{ user.Birthdate | date }}</p>
    </mat-card-content>

    <!-- Edit Profile Information and Delete Profile  -->
    <mat-card-actions class="user-profile-actions">
      <button
        mat-raised-button
        (click)="openEditProfileDialog()"
        color="primary"
      >
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <br />
      <br />
      <button mat-raised-button (click)="deleteProfile()" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Delete Profile
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Favorite Movies  -->
  <mat-card class="user-fav-movies-card">
    <mat-card-header class="user-fav-movies-card-header">
      <mat-card-title>Profile Information</mat-card-title>
    </mat-card-header>

    <!-- View Profile Information -->
    <mat-card-content class="user-fav-movies-card-content">
      <p><b>Favorite Movies:</b> {{ user.FavoriteMovies }}</p>
    </mat-card-content>

    <!-- Edit Profile Information and Delete Profile  -->
    <mat-card-actions class="user-fav-movie-actions"> </mat-card-actions>
  </mat-card>
</div>
