.user-profile-view{
    display: block;
    text-align: center;
    height: 100%;
}

.user-profile-card{
    width: 100%;
    
}

.user-profile-card-header {
    display: flex;
    justify-content: center;
}

* {
    background-color: #f5f0f0;

}
.user-fav-movies-card-container{
    width: 100%;
    justify-content: center;
}

.user-fav-movies-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
mat-card-header {
    display: flex;
    justify-content: center;

}